@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");

:root {
  --primary-color: #1f0318;
  --secondary-color: #e5f2c9;
  --sub-color-1: #7f534b;
  --sub-color-2: #8c705f;
  --sub-color-3: #1e1a1d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */

html,
body {
  font-family: "Kiwi Maru", serif;
  background: var(--secondary-color);
  color: var(--sub-color-3);
}

.hidden {
  display: none;
}

.site-container {
  background: url(/img/hero.jpg);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  background-color: #fff;
  z-index: 9999;
}

header .logo {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

header .logo a {
  text-decoration: none;
  color: var(--sub-color-3);
}

header nav {
  margin-right: 2rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 5rem;
  font-size: 0.9rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--sub-color-3);
  transition: 0.1s;
}

header nav ul li a:hover {
  border-bottom: 2px solid var(--sub-color-3);
}

/* HERO */

.hero-container {
  height: 500px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 5rem;
  font-size: 2rem;
  color: #fff;
}

/* ABOUT */

.about-container {
  height: 100%;
  width: 100%;
  background-color: #efefef;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
  padding: 0 5rem;
  font-size: 1.4rem;
}

.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #e4e4e4;
  border-radius: 5%;
  cursor: pointer;
}

.item p {
  width: 75%;
  margin-top: 2rem;
}

.item img {
  height: 250px;
  width: auto;
  background-size: cover;
}

/* FOOTER */

footer {
  height: 85px;
  width: 100%;
  background-color: var(--primary-color);
}

.footer-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
